__pycache__
fuse.egg-info/*
.eggs/*
build/*
.vscode/*
docs/build/*
resource_cache
.coverage
.hypothesis
.DS_Store
dist/*
docs/source/release_notes.rst
strax_data
fuse_data
data_kinds.rst
data_structure.rst
